.pl-1 {
  padding-left: 1px; }

.mt-1 {
  margin-top: 1px; }

.pl-2 {
  padding-left: 2px; }

.mt-2 {
  margin-top: 2px; }

.pl-3 {
  padding-left: 3px; }

.mt-3 {
  margin-top: 3px; }

.pl-4 {
  padding-left: 4px; }

.mt-4 {
  margin-top: 4px; }

.pl-5 {
  padding-left: 5px; }

.mt-5 {
  margin-top: 5px; }

.pl-6 {
  padding-left: 6px; }

.mt-6 {
  margin-top: 6px; }

.pl-7 {
  padding-left: 7px; }

.mt-7 {
  margin-top: 7px; }

.pl-8 {
  padding-left: 8px; }

.mt-8 {
  margin-top: 8px; }

.pl-9 {
  padding-left: 9px; }

.mt-9 {
  margin-top: 9px; }

.pl-10 {
  padding-left: 10px; }

.mt-10 {
  margin-top: 10px; }

.pl-11 {
  padding-left: 11px; }

.mt-11 {
  margin-top: 11px; }

.pl-12 {
  padding-left: 12px; }

.mt-12 {
  margin-top: 12px; }

.pl-13 {
  padding-left: 13px; }

.mt-13 {
  margin-top: 13px; }

.pl-14 {
  padding-left: 14px; }

.mt-14 {
  margin-top: 14px; }

.pl-15 {
  padding-left: 15px; }

.mt-15 {
  margin-top: 15px; }

.pl-16 {
  padding-left: 16px; }

.mt-16 {
  margin-top: 16px; }

.pl-17 {
  padding-left: 17px; }

.mt-17 {
  margin-top: 17px; }

.pl-18 {
  padding-left: 18px; }

.mt-18 {
  margin-top: 18px; }

.pl-19 {
  padding-left: 19px; }

.mt-19 {
  margin-top: 19px; }

.pl-20 {
  padding-left: 20px; }

.mt-20 {
  margin-top: 20px; }

.pl-21 {
  padding-left: 21px; }

.mt-21 {
  margin-top: 21px; }

.pl-22 {
  padding-left: 22px; }

.mt-22 {
  margin-top: 22px; }

.pl-23 {
  padding-left: 23px; }

.mt-23 {
  margin-top: 23px; }

.pl-24 {
  padding-left: 24px; }

.mt-24 {
  margin-top: 24px; }

.pl-25 {
  padding-left: 25px; }

.mt-25 {
  margin-top: 25px; }

.pl-26 {
  padding-left: 26px; }

.mt-26 {
  margin-top: 26px; }

.pl-27 {
  padding-left: 27px; }

.mt-27 {
  margin-top: 27px; }

.pl-28 {
  padding-left: 28px; }

.mt-28 {
  margin-top: 28px; }

.pl-29 {
  padding-left: 29px; }

.mt-29 {
  margin-top: 29px; }

.pl-30 {
  padding-left: 30px; }

.mt-30 {
  margin-top: 30px; }

.pl-31 {
  padding-left: 31px; }

.mt-31 {
  margin-top: 31px; }

.pl-32 {
  padding-left: 32px; }

.mt-32 {
  margin-top: 32px; }

.pl-33 {
  padding-left: 33px; }

.mt-33 {
  margin-top: 33px; }

.pl-34 {
  padding-left: 34px; }

.mt-34 {
  margin-top: 34px; }

.pl-35 {
  padding-left: 35px; }

.mt-35 {
  margin-top: 35px; }

.pl-36 {
  padding-left: 36px; }

.mt-36 {
  margin-top: 36px; }

.pl-37 {
  padding-left: 37px; }

.mt-37 {
  margin-top: 37px; }

.pl-38 {
  padding-left: 38px; }

.mt-38 {
  margin-top: 38px; }

.pl-39 {
  padding-left: 39px; }

.mt-39 {
  margin-top: 39px; }

.pl-40 {
  padding-left: 40px; }

.mt-40 {
  margin-top: 40px; }

.pl-41 {
  padding-left: 41px; }

.mt-41 {
  margin-top: 41px; }

.pl-42 {
  padding-left: 42px; }

.mt-42 {
  margin-top: 42px; }

.pl-43 {
  padding-left: 43px; }

.mt-43 {
  margin-top: 43px; }

.pl-44 {
  padding-left: 44px; }

.mt-44 {
  margin-top: 44px; }

.pl-45 {
  padding-left: 45px; }

.mt-45 {
  margin-top: 45px; }

.pl-46 {
  padding-left: 46px; }

.mt-46 {
  margin-top: 46px; }

.pl-47 {
  padding-left: 47px; }

.mt-47 {
  margin-top: 47px; }

.pl-48 {
  padding-left: 48px; }

.mt-48 {
  margin-top: 48px; }

.pl-49 {
  padding-left: 49px; }

.mt-49 {
  margin-top: 49px; }

.pl-50 {
  padding-left: 50px; }

.mt-50 {
  margin-top: 50px; }

.pl-51 {
  padding-left: 51px; }

.mt-51 {
  margin-top: 51px; }

.pl-52 {
  padding-left: 52px; }

.mt-52 {
  margin-top: 52px; }

.pl-53 {
  padding-left: 53px; }

.mt-53 {
  margin-top: 53px; }

.pl-54 {
  padding-left: 54px; }

.mt-54 {
  margin-top: 54px; }

.pl-55 {
  padding-left: 55px; }

.mt-55 {
  margin-top: 55px; }

.pl-56 {
  padding-left: 56px; }

.mt-56 {
  margin-top: 56px; }

.pl-57 {
  padding-left: 57px; }

.mt-57 {
  margin-top: 57px; }

.pl-58 {
  padding-left: 58px; }

.mt-58 {
  margin-top: 58px; }

.pl-59 {
  padding-left: 59px; }

.mt-59 {
  margin-top: 59px; }

.pl-60 {
  padding-left: 60px; }

.mt-60 {
  margin-top: 60px; }

.pl-61 {
  padding-left: 61px; }

.mt-61 {
  margin-top: 61px; }

.pl-62 {
  padding-left: 62px; }

.mt-62 {
  margin-top: 62px; }

.pl-63 {
  padding-left: 63px; }

.mt-63 {
  margin-top: 63px; }

.pl-64 {
  padding-left: 64px; }

.mt-64 {
  margin-top: 64px; }

.pl-65 {
  padding-left: 65px; }

.mt-65 {
  margin-top: 65px; }

.pl-66 {
  padding-left: 66px; }

.mt-66 {
  margin-top: 66px; }

.pl-67 {
  padding-left: 67px; }

.mt-67 {
  margin-top: 67px; }

.pl-68 {
  padding-left: 68px; }

.mt-68 {
  margin-top: 68px; }

.pl-69 {
  padding-left: 69px; }

.mt-69 {
  margin-top: 69px; }

.pl-70 {
  padding-left: 70px; }

.mt-70 {
  margin-top: 70px; }

.pl-71 {
  padding-left: 71px; }

.mt-71 {
  margin-top: 71px; }

.pl-72 {
  padding-left: 72px; }

.mt-72 {
  margin-top: 72px; }

.pl-73 {
  padding-left: 73px; }

.mt-73 {
  margin-top: 73px; }

.pl-74 {
  padding-left: 74px; }

.mt-74 {
  margin-top: 74px; }

.pl-75 {
  padding-left: 75px; }

.mt-75 {
  margin-top: 75px; }

.pl-76 {
  padding-left: 76px; }

.mt-76 {
  margin-top: 76px; }

.pl-77 {
  padding-left: 77px; }

.mt-77 {
  margin-top: 77px; }

.pl-78 {
  padding-left: 78px; }

.mt-78 {
  margin-top: 78px; }

.pl-79 {
  padding-left: 79px; }

.mt-79 {
  margin-top: 79px; }

.pl-80 {
  padding-left: 80px; }

.mt-80 {
  margin-top: 80px; }

.pl-81 {
  padding-left: 81px; }

.mt-81 {
  margin-top: 81px; }

.pl-82 {
  padding-left: 82px; }

.mt-82 {
  margin-top: 82px; }

.pl-83 {
  padding-left: 83px; }

.mt-83 {
  margin-top: 83px; }

.pl-84 {
  padding-left: 84px; }

.mt-84 {
  margin-top: 84px; }

.pl-85 {
  padding-left: 85px; }

.mt-85 {
  margin-top: 85px; }

.pl-86 {
  padding-left: 86px; }

.mt-86 {
  margin-top: 86px; }

.pl-87 {
  padding-left: 87px; }

.mt-87 {
  margin-top: 87px; }

.pl-88 {
  padding-left: 88px; }

.mt-88 {
  margin-top: 88px; }

.pl-89 {
  padding-left: 89px; }

.mt-89 {
  margin-top: 89px; }

.pl-90 {
  padding-left: 90px; }

.mt-90 {
  margin-top: 90px; }

.pl-91 {
  padding-left: 91px; }

.mt-91 {
  margin-top: 91px; }

.pl-92 {
  padding-left: 92px; }

.mt-92 {
  margin-top: 92px; }

.pl-93 {
  padding-left: 93px; }

.mt-93 {
  margin-top: 93px; }

.pl-94 {
  padding-left: 94px; }

.mt-94 {
  margin-top: 94px; }

.pl-95 {
  padding-left: 95px; }

.mt-95 {
  margin-top: 95px; }

.pl-96 {
  padding-left: 96px; }

.mt-96 {
  margin-top: 96px; }

.pl-97 {
  padding-left: 97px; }

.mt-97 {
  margin-top: 97px; }

.pl-98 {
  padding-left: 98px; }

.mt-98 {
  margin-top: 98px; }

.pl-99 {
  padding-left: 99px; }

.mt-99 {
  margin-top: 99px; }

.pl-100 {
  padding-left: 100px; }

.mt-100 {
  margin-top: 100px; }

.pl-101 {
  padding-left: 101px; }

.mt-101 {
  margin-top: 101px; }

.pl-102 {
  padding-left: 102px; }

.mt-102 {
  margin-top: 102px; }

.pl-103 {
  padding-left: 103px; }

.mt-103 {
  margin-top: 103px; }

.pl-104 {
  padding-left: 104px; }

.mt-104 {
  margin-top: 104px; }

.pl-105 {
  padding-left: 105px; }

.mt-105 {
  margin-top: 105px; }

.pl-106 {
  padding-left: 106px; }

.mt-106 {
  margin-top: 106px; }

.pl-107 {
  padding-left: 107px; }

.mt-107 {
  margin-top: 107px; }

.pl-108 {
  padding-left: 108px; }

.mt-108 {
  margin-top: 108px; }

.pl-109 {
  padding-left: 109px; }

.mt-109 {
  margin-top: 109px; }

.pl-110 {
  padding-left: 110px; }

.mt-110 {
  margin-top: 110px; }

.pl-111 {
  padding-left: 111px; }

.mt-111 {
  margin-top: 111px; }

.pl-112 {
  padding-left: 112px; }

.mt-112 {
  margin-top: 112px; }

.pl-113 {
  padding-left: 113px; }

.mt-113 {
  margin-top: 113px; }

.pl-114 {
  padding-left: 114px; }

.mt-114 {
  margin-top: 114px; }

.pl-115 {
  padding-left: 115px; }

.mt-115 {
  margin-top: 115px; }

.pl-116 {
  padding-left: 116px; }

.mt-116 {
  margin-top: 116px; }

.pl-117 {
  padding-left: 117px; }

.mt-117 {
  margin-top: 117px; }

.pl-118 {
  padding-left: 118px; }

.mt-118 {
  margin-top: 118px; }

.pl-119 {
  padding-left: 119px; }

.mt-119 {
  margin-top: 119px; }

.pl-120 {
  padding-left: 120px; }

.mt-120 {
  margin-top: 120px; }

.pl-121 {
  padding-left: 121px; }

.mt-121 {
  margin-top: 121px; }

.pl-122 {
  padding-left: 122px; }

.mt-122 {
  margin-top: 122px; }

.pl-123 {
  padding-left: 123px; }

.mt-123 {
  margin-top: 123px; }

.pl-124 {
  padding-left: 124px; }

.mt-124 {
  margin-top: 124px; }

.pl-125 {
  padding-left: 125px; }

.mt-125 {
  margin-top: 125px; }

.pl-126 {
  padding-left: 126px; }

.mt-126 {
  margin-top: 126px; }

.pl-127 {
  padding-left: 127px; }

.mt-127 {
  margin-top: 127px; }

.pl-128 {
  padding-left: 128px; }

.mt-128 {
  margin-top: 128px; }

.pl-129 {
  padding-left: 129px; }

.mt-129 {
  margin-top: 129px; }

.pl-130 {
  padding-left: 130px; }

.mt-130 {
  margin-top: 130px; }

.pl-131 {
  padding-left: 131px; }

.mt-131 {
  margin-top: 131px; }

.pl-132 {
  padding-left: 132px; }

.mt-132 {
  margin-top: 132px; }

.pl-133 {
  padding-left: 133px; }

.mt-133 {
  margin-top: 133px; }

.pl-134 {
  padding-left: 134px; }

.mt-134 {
  margin-top: 134px; }

.pl-135 {
  padding-left: 135px; }

.mt-135 {
  margin-top: 135px; }

.pl-136 {
  padding-left: 136px; }

.mt-136 {
  margin-top: 136px; }

.pl-137 {
  padding-left: 137px; }

.mt-137 {
  margin-top: 137px; }

.pl-138 {
  padding-left: 138px; }

.mt-138 {
  margin-top: 138px; }

.pl-139 {
  padding-left: 139px; }

.mt-139 {
  margin-top: 139px; }

.pl-140 {
  padding-left: 140px; }

.mt-140 {
  margin-top: 140px; }

.pl-141 {
  padding-left: 141px; }

.mt-141 {
  margin-top: 141px; }

.pl-142 {
  padding-left: 142px; }

.mt-142 {
  margin-top: 142px; }

.pl-143 {
  padding-left: 143px; }

.mt-143 {
  margin-top: 143px; }

.pl-144 {
  padding-left: 144px; }

.mt-144 {
  margin-top: 144px; }

.pl-145 {
  padding-left: 145px; }

.mt-145 {
  margin-top: 145px; }

.pl-146 {
  padding-left: 146px; }

.mt-146 {
  margin-top: 146px; }

.pl-147 {
  padding-left: 147px; }

.mt-147 {
  margin-top: 147px; }

.pl-148 {
  padding-left: 148px; }

.mt-148 {
  margin-top: 148px; }

.pl-149 {
  padding-left: 149px; }

.mt-149 {
  margin-top: 149px; }

.pl-150 {
  padding-left: 150px; }

.mt-150 {
  margin-top: 150px; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

/*define*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin-bottom: 10px; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  outline: none; }

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticalNue-Bold';
  src: url("../fonts/HelveticaNue-Bold.eot");
  src: url("../fonts/HelveticaNue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNue-Bold.woff") format("woff"), url("../fonts/HelveticaNue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNue-Bold.svg#HelveticaNue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Condensed';
  src: url("../fonts/HelveticaNeue-Condensed.eot");
  src: url("../fonts/HelveticaNeue-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Condensed.woff") format("woff"), url("../fonts/HelveticaNeue-Condensed.woff2") format("woff2"), url("../fonts/HelveticaNeue-Condensed.ttf") format("truetype"), url("../fonts/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("../fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url("../fonts/HelveticaNeue-Italic.eot");
  src: url("../fonts/HelveticaNeue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Italic.woff") format("woff"), url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-LightItalic';
  src: url("../fonts/HelveticaNeue-LightItalic.eot");
  src: url("../fonts/HelveticaNeue-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-LightItalic.ttf") format("truetype"), url("../fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRoman';
  src: url("../fonts/TimesNewRoman.eot");
  src: url("../fonts/TimesNewRoman.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRoman.woff") format("woff"), url("../fonts/TimesNewRoman.woff2") format("woff2"), url("../fonts/TimesNewRoman.ttf") format("truetype"), url("../fonts/TimesNewRoman.svg#TimesNewRoman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanBold';
  src: url("../fonts/TimesNewRomanBold.eot");
  src: url("../fonts/TimesNewRomanBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanBold.woff") format("woff"), url("../fonts/TimesNewRomanBold.woff2") format("woff2"), url("../fonts/TimesNewRomanBold.ttf") format("truetype"), url("../fonts/TimesNewRomanBold.svg#TimesNewRomanBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanBoldItalic';
  src: url("../fonts/TimesNewRomanBoldItalic.eot");
  src: url("../fonts/TimesNewRomanBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanBoldItalic.woff") format("woff"), url("../fonts/TimesNewRomanBoldItalic.woff2") format("woff2"), url("../fonts/TimesNewRomanBoldItalic.ttf") format("truetype"), url("../fonts/TimesNewRomanBoldItalic.svg#TimesNewRomanBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanItalic';
  src: url("../fonts/TimesNewRomanItalic.eot");
  src: url("../fonts/TimesNewRomanItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanItalic.woff") format("woff"), url("../fonts/TimesNewRomanItalic.woff2") format("woff2"), url("../fonts/TimesNewRomanItalic.ttf") format("truetype"), url("../fonts/TimesNewRomanItalic.svg#TimesNewRomanItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanPS-BoldItalicMT';
  src: url("../fonts/TimesNewRomanPS-BoldItalicMT.eot");
  src: url("../fonts/TimesNewRomanPS-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanPS-BoldItalicMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-BoldItalicMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPS-BoldItalicMT.ttf") format("truetype"), url("../fonts/TimesNewRomanPS-BoldItalicMT.svg#TimesNewRomanPS-BoldItalicMT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanPS-BoldMT';
  src: url("../fonts/TimesNewRomanPS-BoldMT.eot");
  src: url("../fonts/TimesNewRomanPS-BoldMT.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanPS-BoldMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-BoldMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPS-BoldMT.ttf") format("truetype"), url("../fonts/TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanPS-ItalicMT';
  src: url("../fonts/TimesNewRomanPS-ItalicMT.eot");
  src: url("../fonts/TimesNewRomanPS-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanPS-ItalicMT.woff") format("woff"), url("../fonts/TimesNewRomanPS-ItalicMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPS-ItalicMT.ttf") format("truetype"), url("../fonts/TimesNewRomanPS-ItalicMT.svg#TimesNewRomanPS-ItalicMT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TimesNewRomanPSMT';
  src: url("../fonts/TimesNewRomanPSMT.eot");
  src: url("../fonts/TimesNewRomanPSMT.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanPSMT.woff") format("woff"), url("../fonts/TimesNewRomanPSMT.woff2") format("woff2"), url("../fonts/TimesNewRomanPSMT.ttf") format("truetype"), url("../fonts/TimesNewRomanPSMT.svg#TimesNewRomanPSMT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DroidSerif';
  src: url("../fonts/DroidSerif.eot");
  src: url("../fonts/DroidSerif.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif.woff") format("woff"), url("../fonts/DroidSerif.woff2") format("woff2"), url("../fonts/DroidSerif.ttf") format("truetype"), url("../fonts/DroidSerif.svg#DroidSerif") format("svg");
  font-weight: normal;
  font-style: normal; }
section {
  background: url("../images/bg_image.jpg") no-repeat;
  background-size: 100% 100%; }

nav .menu-top {
  margin: auto;
  -webkit-transition: 0.5 ease;
  -moz-transition: 0.5 ease;
  -ms-transition: 0.5 ease;
  -o-transition: 0.5 ease;
  transition: 0.5 ease; }
nav .menu-detail {
  display: inline-block; }

.menu-detail a {
  width: 100px;
  color: yellow;
  font-size: 20px;
  margin-left: 20px; }
  .menu-detail a:hover {
    background: yellow; }

* {
  box-sizing: border-box; }

body {
  font-family: Verdana,sans-serif;
  margin: 0; }

.mySlides {
  display: none; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

/*# sourceMappingURL=styles.css.map */
