@charset "UTF-8";
.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

/*define*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin-bottom: 10px; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  outline: none; }

ul li {
  list-style-type: none; }

@font-face {
  font-family: 'UVF FuturaLT';
  src: url("../fonts/UVF FuturaLT.eot");
  src: url("../fonts/UVF FuturaLT.woff2") format("woff2"), url("../fonts/UVF FuturaLT.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UVFFuturaLT';
  src: url("../fonts/UVFFuturaLT.woff") format("woff"), url("../fonts/UVFFuturaLT.ttf") format("truetype"), url("../fonts/UVFFuturaLT.svg#../fonts/UVFFuturaLT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UVF Aleo-Regular';
  src: url("../fonts/UVF Aleo-Regular.eot");
  src: url("../fonts/UVF Aleo-Regular.woff2") format("woff2"), url("../fonts/UVF Aleo-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UVFAleo';
  src: url("../fonts/UVFAleo.woff") format("woff"), url("../fonts/UVFAleo.ttf") format("truetype"), url("../fonts/UVFAleo.svg#UVFAleo") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  font-family: "UVF FuturaLT", Helvetica, arial, sans-serif;
  background: url(../images/bg_image.jpg) repeat;
  color: #e4cb57;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; }

/*css logo*/
.logo-nvda {
  padding-top: 20px; }
  .logo-nvda img {
    width: 350px; }

.logo-nvda, .slider-nvda {
  margin-bottom: 20px;
  text-align: center; }
  .logo-nvda .mg-aut, .slider-nvda .mg-aut {
    margin: auto;
    display: block; }
  .logo-nvda .regular, .slider-nvda .regular {
    width: 600px;
    height: 300px;
    margin: auto; }
    .logo-nvda .regular img, .slider-nvda .regular img {
      width: 600px;
      height: 300px; }

/*css title-bg*/
.title-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
  .title-bg .box-title .img-top {
    display: block;
    height: 60px; }
  .title-bg .box-title .du-thi {
    background: url("../images/du-thi.png") no-repeat;
    width: 220px; }
  .title-bg .box-title .thi-sinh {
    background: url("../images/thi-sinh.png") no-repeat;
    width: 246px; }
  .title-bg .box-Contest {
    margin-right: 20px; }

/*css nav destop*/
.nav-top.stick-scroll {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background: #000000;
  padding-bottom: 0;
  height: 80px;
  opacity: 0.7; }
  .nav-top.stick-scroll .logo-nav-nvda {
    display: block; }
  .nav-top.stick-scroll .menu-top-scroll {
    margin-top: 25px; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  display: block; }
  nav .btn-menu {
    display: none; }
  nav .menu-top-scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    nav .menu-top-scroll .btn-close {
      display: none; }
  nav .menu-detail {
    width: 130px;
    text-align: center; }
  nav .logo-nav-nvda {
    height: 70px;
    position: absolute;
    bottom: 8px;
    left: 30px;
    display: none; }

.menu-detail a {
  display: block;
  width: 130px;
  font-size: 18px;
  margin-left: 20px;
  padding: 5px 10px;
  color: #e4cb57;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .menu-detail a:hover {
    background: #605238; }
.menu-detail .active {
  background: #605238; }

/*css title*/
.intro-video {
  margin-bottom: 20px;
  position: relative; }
  .intro-video .my-video-dimensions {
    width: 100%;
    height: 600px; }
  .intro-video .video-js .vjs-control-bar {
    background: transparent; }
  .intro-video .video-js .vjs-menu, .intro-video .video-js .vjs-progress-control, .intro-video .video-js .vjs-time-control, .intro-video .video-js .vjs-fullscreen-control {
    display: none; }
  .intro-video .logo-video-nvda {
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px; }

.title-head {
  position: relative;
  margin-bottom: 50px; }
  .title-head .row-bar {
    height: 40px;
    width: 100%;
    background: url("../images/bar.png") center no-repeat;
    margin-bottom: 20px; }
  .title-head .label-head {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 10px 20px;
    opacity: 0.8; }
  .title-head h1 {
    text-align: center;
    font-size: 40px;
    width: 50%;
    margin: auto; }
  .title-head .box-title-news {
    height: 70px;
    background: #c6c4c5;
    margin-left: 160px;
    margin-right: 60px; }

/*css tin tß╗⌐c*/
.news-section {
  padding: 0 60px 0 160px; }
  .news-section .title-content-news {
    font-size: 50px;
    border-bottom: 3px solid #e4cb57;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 430px; }

.box-content-news {
  width: calc(100% - 430px);
  float: left;
  background: rgba(131, 131, 131, 0.7);
  min-height: 500px;
  margin-right: 30px;
  margin-bottom: 30px; }
  .box-content-news a {
    display: block; }
  .box-content-news .news-box {
    margin: 30px 30px 40px 30px;
    padding: 40px;
    background: #ffffff;
    padding-bottom: 20px;
    color: #000; }
    .box-content-news .news-box:last-child {
      margin-bottom: 20px; }
    .box-content-news .news-box .title-news-content {
      font-size: 40px;
      margin-bottom: 20px;
      border-bottom: 3px solid #e4cb57;
      color: #000;
      padding-bottom: 20px; }
    .box-content-news .news-box .img-news {
      float: left;
      width: 800px;
      height: 500px;
      padding-right: 30px; }
    .box-content-news .news-box .content-right {
      float: left;
      width: calc(100% - 800px);
      height: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2.8;
      padding-right: 30px; }
    .box-content-news .news-box .view-detail {
      clear: both;
      padding-top: 20px; }
      .box-content-news .news-box .view-detail a {
        color: #000; }
  .box-content-news hr {
    margin: 0 30px;
    display: block;
    border: 0;
    border-top: 1px solid #000;
    opacity: 0.3; }

aside {
  float: left;
  width: 400px; }
  aside .box-ad-news {
    background: rgba(198, 197, 196, 0.7);
    width: 100%;
    margin-bottom: 20px;
    padding: 15px; }
  aside img {
    width: 100%; }

.page-number {
  margin-bottom: 70px; }
  .page-number ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .page-number ul a {
      width: 103px;
      height: 65px;
      display: block;
      text-align: center;
      line-height: 65px;
      color: #000000; }
    .page-number ul a:hover {
      opacity: 0.7; }
    .page-number ul a:nth-child(odd) {
      background: #eaeaea; }
    .page-number ul a:nth-child(even) {
      background: #e0e0e0; }
  .page-number .btn-next img, .page-number .btn-prev img {
    width: 100%;
    height: 100%; }
  .page-number .btn-next img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

/*css content*/
.content {
  padding: 0 180px;
  line-height: 2.3;
  color: #ffffff; }
  .content h3 {
    font-size: 20px; }
  .content p {
    margin-bottom: 30px; }
    .content p:last-child {
      margin-bottom: 0; }
  .content .des {
    font-size: 12px;
    display: block; }

.news-detail img {
  width: 80%;
  margin: auto;
  display: block;
  padding: 15px; }
.news-detail .title-img {
  width: 50%;
  margin: auto;
  text-align: center; }

.hashtag {
  padding: 100px 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  color: #ffffff; }
  .hashtag .icon-social {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .hashtag .icon-social .fb {
      left: 0; }
    .hashtag .icon-social .sh {
      left: -56px; }
    .hashtag .icon-social .you {
      left: -113px; }
  .hashtag img {
    top: 0;
    position: absolute; }
  .hashtag .tag-name {
    display: inline-block; }

/*css footer*/
footer {
  background: #000000;
  opacity: 0.8;
  padding-top: 20px; }
  footer .box-footer {
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 25px; }
    footer .box-footer .contact-footer {
      text-align: right;
      width: 70%;
      padding-bottom: 60px; }
    footer .box-footer .img-logo-organize {
      display: block;
      margin: 20px auto; }
  footer .logo-footer {
    padding-top: 50px; }
  footer .contact {
    color: #ffffff; }
  footer .donors {
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px; }
    footer .donors .logo-dornor {
      padding: 0 5px; }
  footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #e4cb57;
    padding: 5px 10px;
    color: #000; }
    footer .copyright .copy {
      width: 50%; }
      footer .copyright .copy:last-child {
        text-align: right; }

/*form ─æ─âng k├╜*/
.sign-up {
  margin-bottom: 100px; }

.form-row {
  padding-bottom: 20px; }
  .form-row input {
    width: 100%;
    padding: 14px;
    color: #a09c9b;
    font-weight: normal;
    font-size: 16px;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .form-row .required:after {
    content: '*'; }
  .form-row .many-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .form-row .many-text .uniform {
      width: 70px;
      margin-right: 20px; }
    .form-row .many-text label {
      padding-right: 10px; }
  .form-row .btn-submit {
    background: #000;
    padding: 15px 54px;
    cursor: pointer; }
  .form-row div.error-message {
    font-size: 12px;
    color: red; }

.clear-fix:after {
  content: '';
  display: table;
  clear: both; }

/*css 1680*/
@media only screen and (max-width: 1680px) {
  .box-content-news .news-box .img-news {
    width: 700px;
    height: 400px;
    padding-right: 20px; }
  .box-content-news .news-box .content-right {
    float: left;
    width: calc(100% - 700px);
    height: 400px;
    padding-right: 20px; }

  /*css 1440*/ }
@media only screen and (max-width: 1680px) and (max-width: 1440px) {
  .news-section {
    padding: 0 60px 0 160px; }
    .news-section .title-content-news {
      font-size: 50px;
      border-bottom: 3px solid #e4cb57;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: 310px; }

  .box-content-news {
    width: calc(100% - 310px);
    float: left;
    background: #807e7f;
    min-height: 500px;
    margin-right: 30px;
    margin-bottom: 30px; }
    .box-content-news .news-box {
      margin: 30px 30px 40px 30px;
      padding: 40px;
      background: #ffffff;
      padding-bottom: 20px;
      color: #000; }
      .box-content-news .news-box:last-child {
        margin-bottom: 20px; }
      .box-content-news .news-box .title-news-content {
        font-size: 40px;
        margin-bottom: 20px;
        border-bottom: 3px solid #e4cb57; }
      .box-content-news .news-box .img-news {
        float: left;
        width: 430px;
        height: 300px;
        padding-right: 30px; }
      .box-content-news .news-box .content-right {
        float: left;
        width: calc(100% - 430px);
        height: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.8; }
      .box-content-news .news-box .view-detail {
        clear: both;
        padding-top: 20px; }
    .box-content-news hr {
      margin: 0 30px;
      display: block;
      border: 0;
      border-top: 1px solid #000;
      opacity: 0.3; }

  aside {
    float: left;
    width: 280px; } }
@media only screen and (max-width: 1680px) {
  /*css reponse 1280*/ }
@media only screen and (max-width: 1680px) and (max-width: 1280px) {
  .box-content-news .news-box .content-right {
    padding-right: 0; } }
@media only screen and (max-width: 1680px) and (max-width: 1065px) {
  .box-content-news .news-box {
    margin: 20px 20px 30px 20px;
    padding: 20px; }
    .box-content-news .news-box .img-news {
      width: 100%;
      height: auto;
      padding-right: 0; }
    .box-content-news .news-box .content-right {
      width: 100%;
      height: auto;
      line-height: 1.8; } }
@media only screen and (max-width: 1680px) {
  /*css response ipad*/ }
@media only screen and (max-width: 1680px) and (max-width: 768px) {
  .content {
    padding: 0 100px; }

  .hashtag {
    padding: 100px 100px; }

  footer .box-footer .img-logo-organize {
    width: 100px; }
  footer .logo-footer {
    padding-top: 100px; }
    footer .logo-footer img {
      width: 250px; }
  footer .box-footer {
    font-size: 20px; }
    footer .box-footer .contact-footer {
      width: 80%; }

  /*css tin tuc reponse 768*/
  .news-section .title-content-news {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: 290px; }

  .title-head .box-title-news {
    height: 70px;
    background: #c6c4c5;
    margin-left: 60px;
    margin-right: 30px; }

  .news-section {
    padding: 0 30px 0 60px; }

  .box-content-news {
    width: calc(100% - 210px);
    margin-right: 10px; }

  aside {
    width: 200px; }

  .page-number ul a {
    width: 57px; }

  /*css menu ipad 768*/
  nav .logo-nav-nvda {
    height: 33px;
    bottom: 13px;
    left: 20px; }
  nav .menu-top-scroll {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end; }

  .nav-top.stick-scroll .menu-top-scroll {
    margin-top: 12px; }

  .nav-top.stick-scroll {
    height: 60px; }

  .intro-video .logo-video-nvda {
    width: 150px; } }
@media only screen and (max-width: 1680px) {
  /*css 480*/ }
@media only screen and (max-width: 1680px) and (max-width: 480px) {
  .title-bg {
    padding-bottom: 20px; }

  .news-section {
    padding: 0 10px 0 20px; }

  .title-head .box-title-news {
    margin-left: 20px;
    margin-right: 10px; }

  .logo-nvda img {
    width: 200px; }

  .logo-nvda .regular, .slider-nvda .regular {
    width: 95%;
    height: 200px;
    margin: auto; }
    .logo-nvda .regular img, .slider-nvda .regular img {
      width: 100%;
      height: 200px;
      margin: auto; }

  .title-bg .box-title .du-thi {
    width: 150px;
    background-size: 100% 100%; }
  .title-bg .box-title .img-top {
    display: block;
    height: 40px; }
  .title-bg .box-title .thi-sinh {
    width: 150px;
    background-size: 100% 100%; }

  .intro-video .my-video-dimensions {
    height: 300px; }

  .title-head .label-head {
    bottom: -50px; }
  .title-head .row-bar {
    background-size: 100%; }

  .content {
    padding: 0 20px; }

  .hashtag {
    padding: 50px 20px;
    display: block; }
    .hashtag .tag-name {
      font-size: 15px; }

  footer .box-footer {
    float: none;
    width: 100%; }
    footer .box-footer .contact-footer {
      text-align: center;
      width: 100%;
      padding-bottom: 30px; }
  footer .logo-footer {
    padding-top: 50px;
    padding-bottom: 50px; }
  footer .donors img {
    padding: 0 5px;
    height: 50px; }

  /*nav mobile*/
  .stick-scroll .btn-menu {
    top: 10px; }

  .nav-top.stick-scroll {
    height: 50px; }
    .nav-top.stick-scroll .menu-top-scroll {
      top: 50px; }

  .nav-top.stick-scroll .menu-top-scroll {
    margin-top: 0; }

  nav {
    position: relative;
    height: 20px;
    padding-bottom: 0; }
    nav .logo-nav-nvda {
      height: 35px; }
    nav .btn-menu {
      display: block; }
    nav .menu-top-scroll {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      position: absolute;
      -webkit-box-orient: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      top: -20px;
      right: 0;
      background: #fff;
      z-index: 999;
      width: 100%;
      display: none;
      opacity: 0.9; }
      nav .menu-top-scroll .btn-close {
        display: block;
        position: relative;
        height: 12px; }
        nav .menu-top-scroll .btn-close .close-x {
          position: absolute;
          top: 10px;
          right: 10px; }
    nav .menu-detail {
      width: 100%; }
      nav .menu-detail a {
        width: 100%;
        margin-left: 0;
        height: 40px; }

  .btn-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 10px;
    opacity: 0.6;
    cursor: pointer; }

  /*css form sigup*/
  .form-row .many-text {
    display: block; }
  .form-row .many-text .uniform {
    width: 100%;
    margin: 0; }

  /*css reponse tin tuc*/
  .news-section .title-content-news {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: 0; }

  .box-content-news {
    width: 100%;
    margin-right: 10px; }
    .box-content-news .news-box {
      margin: 10px 10px 15px 10px;
      padding: 20px; }
      .box-content-news .news-box .title-news-content {
        font-size: 25px;
        margin-bottom: 10px;
        border-bottom: 2px solid #e4cb57; }
      .box-content-news .news-box .content-right {
        height: 52px; }
      .box-content-news .news-box .view-detail {
        clear: both;
        padding-top: 10px; }

  aside {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    display: none; }

  .page-number {
    margin-bottom: 30px; }
    .page-number ul a {
      width: 38px;
      height: 35px;
      display: block;
      text-align: center;
      line-height: 35px;
      color: #000000; } }
@media only screen and (max-width: 1680px) {
  /*css 320*/ }
@media only screen and (max-width: 1680px) and (max-width: 320px) {
  .intro-video .my-video-dimensions {
    height: 300px; }

  .title-head .label-head {
    bottom: -50px; }
  .title-head .row-bar {
    background-size: 100%; }

  .content {
    padding: 0 20px; }

  .hashtag {
    padding: 50px 20px;
    display: block; }
    .hashtag .tag-name {
      font-size: 15px; }

  footer .box-footer {
    float: none;
    width: 100%; }
    footer .box-footer .contact-footer {
      text-align: center;
      width: 100%;
      padding-bottom: 30px; }
  footer .logo-footer {
    padding-top: 50px;
    padding-bottom: 50px; }
  footer .donors img {
    padding: 0 5px;
    height: 50px; }

  /*nav mobile 320*/
  .stick-scroll .btn-menu {
    top: 10px; }

  .nav-top.stick-scroll .menu-top-scroll {
    top: 0; }

  nav {
    position: relative;
    height: 20px;
    padding-bottom: 0; }
    nav .btn-menu {
      display: block; }
    nav .menu-top-scroll {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      position: absolute;
      -webkit-box-orient: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      top: -20px;
      right: 0;
      background: #fff;
      z-index: 999;
      width: 100%;
      display: none; }
      nav .menu-top-scroll .btn-close {
        display: block;
        position: relative;
        height: 12px; }
        nav .menu-top-scroll .btn-close .close-x {
          position: absolute;
          top: 1px;
          right: 10px; }
    nav .menu-detail {
      width: 100%; }
      nav .menu-detail a {
        width: 100%;
        margin-left: 0;
        height: 40px; }

  .btn-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 10px;
    opacity: 0.6;
    cursor: pointer; } }
@media only screen and (max-width: 1680px) {
  .page-number ul a {
    width: 24px; } }

/*# sourceMappingURL=styles.css.map */
