html, body{
  font-family: $main;
  background: url("../images/bg_image.jpg") no-repeat;
  background-size: 100% 100%;
  color: #e4cb57;
}
section{
}
/*css logo*/
.logo-nvda{
  padding-top: 20px;
  img{
    width:350px;
  }
}
.logo-nvda, .slider-nvda{
  margin-bottom: 30px;
  text-align: center;
  .mg-aut{
    margin: auto;
    display: block;
  }
  .regular{
    width: 900px;
    height:500px;
   margin: auto;
    img{
      width: 900px;
      height: 500px;
    }
  }
}
/*css title-bg*/
.title-bg{
  @include flex;
  @include justify-content(center);
  margin-bottom: 30px;
  .box-title{
    .img-top{
      display: block;
      height: 60px;
    }
    .du-thi{
      background: url("../images/du-thi.png") no-repeat;
      width: 220px;
    }
    .thi-sinh{
      background: url("../images/thi-sinh.png") no-repeat;
      width: 246px;
    }
  }
  .box-Contest{
    margin-right: 20px;
  }
}
/*css nav destop*/
.nav-top.stick-scroll {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background: #000000;
  padding-bottom: 0;
}
nav{
  @include flex;
  padding-bottom: 50px;
  display: block;
  .btn-menu{
    display: none;
  }
  .menu-top-scroll{
    @include flex;
    margin: auto auto;
    @include justify-content(center);
    .btn-close{
      display: none;
    }
  }
  .menu-detail{
    width: 160px;
    text-align: center;
  }
}
.menu-detail {
  a {
    display: block;
    width: 160px;
    font-size: 25px;
    margin-left: 20px;
    padding: 5px 10px;
    color: #e4cb57;
    @include transition(0.6s);
    &:hover {
      background: #605238;
    }
  }
  .active{
    background: #605238;
  }
}
/*css title*/
.intro-video{
  margin-bottom: 20px;
  .my-video-dimensions{
    width: 100%;
    height: 600px;
  }
  .video-js {
    .vjs-control-bar{
      background: transparent;
    }
  }
  .video-js {
    .vjs-menu, .vjs-progress-control, .vjs-time-control, .vjs-fullscreen-control{
      display: none;
    }
  }
}
.title-head{
  position: relative;
  margin-bottom: 50px;
  .row-bar{
    height: 40px;
    width:100%;
    background: url("../images/bar.png") center no-repeat;
    margin-bottom: 20px;
  }
  .label-head{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 10px 20px;
    opacity: 0.8;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }

}
/*css content*/

.content{
  padding:0 180px;
  line-height: 2.3;
  color: #ffffff;
  h3{
    font-size: 20px;
  }
  p{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .des{
    font-size: 12px;
    display: block;
  }
}
.hashtag{
  padding:100px 180px;
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
  color: #ffffff;
  .icon-social{
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    .fb{
      left:0;
    }
    .sh{
      left:-56px;
    }
    .you{
      left:-113px;
    }
  }
  img{
    top:0;
    position: absolute;
  }
  .tag-name{
    display: inline-block;
  }
}

/*css footer*/
footer{
  background: #000000;
  opacity:0.8;
  padding-top: 20px;
  .box-footer{
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 25px;
    .contact-footer{
      text-align: right;
      width:70%;
      padding-bottom: 60px;
    }
    .img-logo-organize{
      display: block;
      margin:20px auto;
    }
  }
  .logo-footer{
    padding-top: 50px;
  }
  .contact{
    color: #ffffff;
  }
  .donors{
    clear: both;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    padding: 15px;
  }
  .copyright{
    @include flex;
    background: #e4cb57;
    padding: 5px 10px;
    color: #000;
    .copy{
      width:50%;
      &:last-child{
        text-align: right;
      }
    }
  }

}

/*form đăng ký*/
.sign-up{
  margin-bottom: 100px;
}
.form-row{
  padding-bottom: 20px;
  input{
    width: 100%;
    padding: 14px;
    color: #a09c9b;
    font-weight: normal;
    font-size: 16px;
    border: none;
    @include box-sizing(border-box);
  }
  .required:after {
    content: '*';
  }
  .many-text {
    @include flex;
    @include align-items(center);
    .uniform{
      width: 70px;
      margin-right: 20px;
    }
    label{
      padding-right: 10px;
    }
  }
  .btn-submit{
    background: #000;
    padding: 15px 54px;
    cursor: pointer;
  }
  div.error-message{
    font-size: 12px;
    color: red;
  }
}



.clear-fix:after{
  content: '';
  display: table;
  clear: both;
}

/*css full hd*/
@include respond-to($break-1440){

  .logo-nvda, .slider-nvda{
    margin-bottom: 20px;
    .regular{
      width: 600px;
      height:300px;
      margin: auto;
      img{
        width: 600px;
        height: 300px;
      }
    }
  }
  .logo-nvda {
    img{
      width:auto;
    }
  }
  .title-bg{
    margin-bottom: 20px;
    .box-Contest{
      margin-right: 20px;
    }
  }
  nav {
    .menu-detail {
      width:auto;
      a {
        width: 130px;
        font-size: 18px;
      }
    }
  }
}


/*css response ipad*/
@include respond-to($break-768){
  .content{
    padding:0 100px;
  }

  .hashtag {
    padding: 100px 100px;
  }
  footer {
    .box-footer{
      .img-logo-organize{
        width: 100px;
      }
    }
    .logo-footer{
      padding-top: 100px;
      img{
        width:250px;
      }
    }
    .box-footer{
      font-size: 20px;
      .contact-footer{
        width: 80%;
      }
    }
  }
}

/*css 414*/
@include respond-to($break-480){
  .intro-video {
    .my-video-dimensions{
      height:300px;
    }
  }
  .title-head {
    .label-head{
      bottom: -50px;
    }
    .row-bar {
      background-size: 100%;
    }
  }
  .content {
    padding: 0 20px;
  }
  .hashtag {
    padding: 50px 20px;
    display: block;
    .tag-name {
      font-size: 15px;
    }
  }
  footer {
    .box-footer{
      float: none;
      width: 100%;
      .contact-footer {
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
      }
    }
    .logo-footer {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .donors{
      img{
        padding: 0 5px;
        height: 50px;
      }
    }
  }
  /*nav mobile*/
  .stick-scroll{
    .btn-menu{
      top: 10px;
    }
  }
  .nav-top.stick-scroll{
    background: transparent;
    .menu-top-scroll{
      top:0;
    }
  }
  nav{
    position: relative;
    height: 20px;
    padding-bottom: 0;
    .btn-menu{
      display: block;
    }
    .menu-top-scroll {
      @include flex;
      margin: auto;
      position: absolute;
      @include flex-direction(column);
      top: -20px;
      right: 0;
      background: #fff;
      z-index: 999;
      width: 100%;
      display: none;
      .btn-close{
        display: block;
        position: relative;
        height: 12px;
        .close-x{
          position: absolute;
          top: 1px;
          right: 10px;
        }
      }
    }
    .menu-detail {
      width: 100%;
      a {
        width:100%;
        margin-left: 0;
        height: 40px;
      }
    }
  }
  .btn-menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 10px;
    opacity: 0.6;
    cursor: pointer;
  }
  /*css form sigup*/
  .form-row {
    .many-text{
      display: block;
    }
    .many-text {
      .uniform{
        width: 100%;
        margin: 0;
      }
    }
  }

/*css intro*/
  html, body{
    background-size: 100% 100%;
  }
  .logo-nvda, .slider-nvda{
    margin-bottom: 20px;
    .regular{
      width: 300px;
      height:150px;
      margin: auto;
      img{
        width: 300px;
        height: 150px;
      }
    }
  }
  .logo-nvda {
    img{
      width:70%;
    }
  }
  .title-bg{
    margin-bottom: 20px;
    width:100%;
    .box-Contest{
      margin-right: 20px;
    }
    .box-title{
      .img-top{
        width: 130px;
        background-size: 100%;
        height: 35px;
      }
    }
  }
  nav {
    .menu-detail {
      width:auto;
      a {
        width: 130px;
        font-size: 18px;
        margin: auto;
      }
    }
  }
  .slick-dots{
    bottom: 5px;
  }


}



/*css 320*/
@include respond-to($break-320){
  .intro-video {
    .my-video-dimensions{
      height:300px;
    }
  }
  .title-head {
    .label-head{
      bottom: -50px;
    }
    .row-bar {
      background-size: 100%;
    }
  }
  .content {
    padding: 0 20px;
  }
  .hashtag {
    padding: 50px 20px;
    display: block;
    .tag-name {
      font-size: 15px;
    }
  }
  footer {
    .box-footer{
      float: none;
      width: 100%;
      .contact-footer {
        text-align: center;
        width: 100%;
        padding-bottom: 30px;
      }
    }
    .logo-footer {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .donors{
      img{
        padding: 0 5px;
        height: 50px;
      }
    }
  }
  /*nav mobile*/
  .stick-scroll{
    .btn-menu{
      top: 10px;
    }
  }
  .nav-top.stick-scroll{
    background: transparent;
    .menu-top-scroll{
      top:0;
    }
  }
  nav{
    position: relative;
    height: 20px;
    padding-bottom: 0;
    .btn-menu{
      display: block;
    }
    .menu-top-scroll {
      @include flex;
      margin: auto;
      position: absolute;
      @include flex-direction(column);
      top: -20px;
      right: 0;
      background: #fff;
      z-index: 999;
      width: 100%;
      display: none;
      .btn-close{
        display: block;
        position: relative;
        height: 12px;
        .close-x{
          position: absolute;
          top: 1px;
          right: 10px;
        }
      }
    }
    .menu-detail {
      width: 100%;
      a {
        width:100%;
        margin-left: 0;
        height: 40px;
      }
    }
  }
  .btn-menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: 10px;
    opacity: 0.6;
    cursor: pointer;
  }
}






