html, body{
  height: 100%;
  font-family: $main;
  background: url(../images/bg_image.jpg) repeat;
  color: #e4cb57;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.intro-main{
  position: fixed;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}
/*css logo*/
.logo-nvda{
  padding-top: 20px;
  img{
    width:500px;
  }
}
.logo-nvda, .slider-nvda{
  margin-bottom: 15px;
  text-align: center;
  .mg-aut{
    margin: auto;
    display: block;
  }
  .regular{
    width: 1000px;
    height:500px;
    margin: auto;
    img{
      width: 1000px;
      height: 500px;
      display: block;
    }
  }
}
.content-left{
.logo-nvda, .slider-nvda {
  .regular {
    width: 90%;
    height: auto;
    margin: auto;
  }
}
  .slider-nvda{
    .regular{
      img{
        width:100%;
        height: auto;
      }
    }
  }
}
/*css title-bg*/
.title-bg{
  @include flex;
  @include justify-content(center);
  margin-bottom: 20px;
  .box-title{
    .img-top{
      display: block;
      height: 60px;
    }
    .du-thi{
      background: url("../images/du-thi.png") no-repeat;
      width: 220px;
    }
    .thi-sinh{
      background: url("../images/thi-sinh.png") no-repeat;
      width: 246px;
    }
  }
  .box-Contest{
    margin-right: 20px;
  }
}
/*css nav destop*/
.nav-top.stick-scroll {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background: #000000;
  padding-bottom: 0;
  height:80px;
  opacity:0.7;
  .logo-nav-nvda{
    display: block;
  }
  .menu-top-scroll{
    margin-top: 25px;
  }
}
nav{
  @include flex;
  padding-bottom: 50px;
  display: block;
  margin: auto;
  .btn-menu{
    display: none;
  }
  .menu-top-scroll{
    @include flex;
    margin: auto auto;
    @include justify-content(center);
    .btn-close{
      display: none;
    }
  }
  .menu-detail{
    width: 190px;
    text-align: center;
  }
  .logo-nav-nvda{
    height: 70px;
    position: absolute;
    bottom: 8px;
    left: 30px;
    display: none;
  }

}
.menu-detail {
  a {
    display: block;
    width: 130px;
    font-size: 18px;
    margin-left: 20px;
    padding: 5px 10px;
    color: #e4cb57;
    @include transition(0.6s);
    &:hover {
      background: #605238;
    }
  }
  .active{
    background: #605238;
  }
}
/*css title*/
.intro-video{
  margin-bottom: 20px;
  position: relative;
  .my-video-dimensions{
    width: 100%;
    height: 600px;
  }
  .video-js {
    .vjs-control-bar{
      background: transparent;
    }
  }
  .video-js {
    .vjs-menu, .vjs-progress-control, .vjs-time-control, .vjs-fullscreen-control{
      display: none;
    }
  }
  .logo-video-nvda{
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
.title-head{
  position: relative;
  margin: auto;
  margin-bottom: 50px;
  max-width: 1200px;
  .row-bar{
    height: 40px;
    width:100%;
    background: url("../images/bar.png") center no-repeat;
    margin-bottom: 20px;
  }
  .label-head{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    padding: 10px 20px;
    opacity: 0.8;
  }
  h1{
    text-align: center;
    font-size: 40px;
    width:50%;
    margin: auto;
    font-family: $main-t;
  }
  .box-title-news{
    height: 70px;
    background: #c6c4c5;
    margin-left: 160px;
    margin-right: 60px;
  }
}
/*css tin tức*/
.news-section{
  margin: auto;
  max-width: 1200px;
  .title-content-news{
    font-size: 50px;
    border-bottom: 3px solid #e4cb57;
    font-family: $main-t;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 430px;
  }
}
.box-content-news{
  width: 75%;
  float: left;
  background: rgba(131, 131, 131, 0.7);
  min-height: 500px;
  margin-bottom: 30px;
  a{
    display: block;
  }
  .news-box{
    margin: 30px 30px 40px 30px;
    padding: 40px;
    background: #ffffff;
    padding-bottom: 20px;
    color: #000;

    &:last-child{
      margin-bottom: 20px;
    }
    .title-news-content{
      font-size: 40px;
      margin-bottom: 20px;
      border-bottom: 3px solid #e4cb57;
      color: #000;
      padding-bottom: 20px;
    }
    .img-news{
      float: left;
      width: 60%;
      padding-right: 30px;
    }
    .content-right{
      float: left;
      width: 40%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 2.8;
      padding-right: 30px;
      text-align: justify;
    }
    .view-detail{
      clear: both;
      padding-top: 20px;
      a{
        color: #000;
      }
    }
  }
  hr{
    margin: 0 30px;
    display: block;
    border: 0;
    border-top: 1px solid #000;
    opacity: 0.3;
  }
}
aside{
  float: left;
  width: 25%;
  padding-left: 20px;
  .box-ad-news{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
    img{
      width:100%;
    }
}


.page-number{
  margin-bottom: 70px;
  ul{
   @include flex;
    a{
      width: 103px;
      height: 65px;
      display: block;
      text-align: center;
      line-height: 65px;
      color: #000000;
    }
    a:hover{
      opacity: 0.7;
    }
    a:nth-child(odd){
      background: #eaeaea;
    }
    a:nth-child(even){
      background: #e0e0e0;
    }
  }
  .btn-next, .btn-prev{
    img{
      width: 100%;
      height: 100%;
    }
  }
  .btn-next{
    img{
      @include rotate(180deg);
    }
  }
}
/*css content*/
.content{
  line-height: 2.3;
  color: #ffffff;
  text-align: justify;
  h3{
    font-size: 20px;
  }
  p{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .des{
    font-size: 12px;
    display: block;
  }
}
.news-detail{
  img{
    width: 80%;
    margin: auto;
    display: block;
    padding: 15px;
  }
  .title-img{
    width: 50%;
    margin: auto;
    text-align: center;
  }
}
.hashtag{
  padding:100px 180px;
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
  color: #ffffff;
  .icon-social{
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    .fb{
      left:0;
    }
    .sh{
      left:-56px;
    }
    .you{
      left:-113px;
    }
  }
  img{
    top:0;
    position: absolute;
  }
  .tag-name{
    display: inline-block;
  }
}

/*css footer*/
footer{
  background: #000000;
  opacity:0.8;
  padding-top: 20px;
  .box-footer{
    width: 33.33%;
    float: left;
    text-align: center;
    font-size: 25px;
    .contact-footer{
      text-align: right;
      width:70%;
      padding-bottom: 60px;
    }
    .img-logo-organize{
      display: block;
      margin:20px auto;
    }
  }
  .logo-footer{
    padding-top: 50px;
  }
  .contact{
    color: #ffffff;
  }
  .donors{
    clear: both;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    padding: 15px;
    .logo-dornor{
      padding: 0 5px;
    }
  }
  .copyright{
    @include flex;
    max-width: 1200px;
    padding: 5px 10px;
    color: #000;
    margin: auto;
    .copy{
      width:50%;
      &:last-child{
        text-align: right;
      }
    }
  }
  .max-footer{
    background: #e4cb57;

  }

}

/*form đăng ký*/
.sign-up{
  margin-bottom: 100px;
}
.form-row{
  padding-bottom: 20px;
  input{
    width: 100%;
    padding: 14px;
    color: #a09c9b;
    font-weight: normal;
    font-size: 16px;
    border: none;
    @include box-sizing(border-box);
  }
  .required:after {
    content: '*';
  }
  .many-text {
    @include flex;
    @include align-items(center);
    .uniform{
      width: 70px;
      margin-right: 20px;
    }
    label{
      padding-right: 10px;
    }
  }
  .btn-submit{
    background: #000;
    padding: 15px 54px;
    cursor: pointer;
  }
  div.error-message{
    font-size: 12px;
    color: red;
  }
}
/*css page hình ảnh*/
.title-head{
  .box-title-photos{
    margin: auto;
    img{
      width: 100%;
    }
  }
}
.photo-section{
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
  .title-content-photos{
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 430px;
    font-family: $main-t;
  }
  .title-image{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: $main-t;
  }
}
.album-photo-candi{
  .box-round{
    margin: auto;
    margin-bottom: 30px;
  }
}
.box-image-show{
  .img-show{
    width: 100%;
    margin-bottom: 40px;
    .img-big{
      width: 100%;
      display: block;
    }
  }
  .slider-show{
    @include flex;
    @include justify-content(center);
    margin-bottom: 100px;
    .box-show-small{
      width: 20%;
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      img{
        display: block;
        width:100%;
      }
    }
  }
}
.content-images{
  @include flex;
  @include flex-wrap(wrap);
  margin-bottom: 100px;
  .image-album{
    width: calc(33.3% - 40px);
    margin-bottom: 70px;
    margin-right: 60px;
    img{
      width: 100%;
      height: 100%;
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}
/* css hinh anh thi sinh vong loai */
.album-photo-candi{
  .label-image{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    text-align: left;
    padding: 20px;
  }
  .img-show-candidates{
    .label-image{
      bottom: 4px !important;
    }
  }
}
.lable-possiton{
  position: relative;
}
.box-image-show-candidates{
  .img-show-candidates{
    width: 80%;
    margin: auto;
    margin-bottom: 160px;
    overflow: hidden;
    img{
      width:100%;
      height:100%;
    }
  }
  .slider-show-candidates{
    margin-bottom: 180px;
    @include flex;
    .box-show-candidates{
      width: 50%;
      margin-right: 45px;
      img{
        width: 100%;
        height: 100%;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
/*css chi tiet thi sinh*/
.photo-section{
  position: relative;
  .box-round{
    @include flex;
    width: 60%;
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    top: 0;
    right: 40px;
    .round{
      display: block;
      list-style-type: none;
      width: 134px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #000;
      padding-right: 10px;
      background: -webkit-gradient(linear, 80% 43%, 0% 38%, from(#f2df81), to(#b68832));
    }
  }
}
.album-photo-candi{
  .box-round{
    position: relative;
  }
}
.content-left{
  width: 40%;
  border-right: 2px solid $cl-yellow;
  float: left;
  color: #fff;
  .info-candi{
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 80%;
  }
  .avatar-candidates-detail{
    margin-bottom: 20px;
    position: relative;
    .avatar{
      width: 450px;
    }
    .full-name{
      font-size: 50px;
      width: auto;
      position: static;
      display: block;
      text-align: center;
    }
  }

  .introduce {
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.8;
    text-align: justify;
    padding-right: 25px;
  }

}
.content-right{
  width: 60%;
  float: left;
  .box-img{
    img{
      width: 800px;
      margin: auto;
      display: block;
    }
  }
}
#fixx{
  width: auto;
  position: absolute;
  left: 0px;
  bottom: 230px;
  background: black;
  padding: 10px 20px;
  opacity: 0.8;
  display: block;
}
#fixc{
  position: fixed;
  top: 150px;
  height: 40px;
  z-index: 9999;
  width:auto;
  background: black;
  padding: 10px 20px;
}
#fixf{
  width: auto;
  position: absolute;
  left: 0px;
  bottom: 170px;
  background: black;
  padding: 10px 20px;
  opacity: 0.8;
  display: none;
}
#fixd{
  position: fixed;
  top: 200px;
  height: 40px;
  z-index: 9999;
  width: auto;
  background: black;
  padding: 10px 20px;
}

.clear-fix:after{
  content: '';
  display: table;
  clear: both;
}
/*css 1680*/
@include respond-to($break-1680) {
  .box-content-news {
    .news-box {
      .img-news {
        width: 60%;
        padding-right: 20px;
      }
      .content-right {
        float: left;
        width: 40%;
        height: 400px;
        padding-right: 20px;
      }
    }
  }
  .photo-section {
    width: 1200px;
  }
  .content-left {
    .avatar-candidates-detail {
      .full-name{
        right: 30px;
      }
    }
  }
  .content-left {
    .avatar-candidates-detail {
      .avatar{
        width: 400px;
      }
    }
  }
}
@include respond-to($break-1600) {
  /*intro css*/
  .logo-nvda, .slider-nvda{
    .regular{
      width: 800px;
      height:400px;
      img{
        width: 800px;
        height: 400px;
      }
    }
  }
  nav {
    .menu-detail {
      width: 160px;
    }
  }
  .logo-nvda {
    img {
      width: 450px;
    }
  }
  /*end css intro*/
}
  /*css 1440*/
  @include respond-to($break-1440) {
    /*intro css*/
    .logo-nvda, .slider-nvda{
      .regular{
        width: 600px;
        height:300px;
        img{
          width: 600px;
          height: 300px;
        }
      }
    }
    nav {
      .menu-detail {
        width: 130px;
      }
    }
    .logo-nvda {
      img {
        width: 350px;
      }
    }
    /*end css intro*/
    .news-section{
      padding: 0 60px 0 160px;
      .title-content-news{
        font-size: 50px;
        border-bottom: 3px solid #e4cb57;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 310px;
      }
    }
    .box-content-news{
      width: calc(100% - 310px);
      float: left;
      background: #807e7f;
      min-height: 500px;
      margin-right: 30px;
      margin-bottom: 30px;
      .news-box{
        margin: 30px 30px 40px 30px;
        padding: 40px;
        background: #ffffff;
        padding-bottom: 20px;
        color: #000;
        &:last-child{
          margin-bottom: 20px;
        }
        .title-news-content{
          font-size: 40px;
          margin-bottom: 20px;
          border-bottom: 3px solid #e4cb57;
        }
        .img-news{
          float: left;
          width: 60%;
          padding-right: 30px;
        }
        .content-right{
          float: left;
          width:40%;
          height: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.8;
        }
        .view-detail{
          clear: both;
          padding-top: 20px;
        }
      }
      hr{
        margin: 0 30px;
        display: block;
        border: 0;
        border-top: 1px solid #000;
        opacity: 0.3;
      }
    }
    aside{
      float: left;
      width: 280px;
    }
    /*css thi sinh image*/
    .photo-section{
      width: 1200px;
    }
    .content-left {
      .avatar-candidates-detail {
        .avatar{
          width: 360px;
        }
      }
    }
  }
@include respond-to($break-1366) {
  .photo-section {
    width: 1200px;
  }
}
  /*css reponse 1280*/
  @include respond-to($break-1280){
    .photo-section {
      .box-round {
          right: 0;
      }
    }
    .box-content-news {
      .news-box {
        .content-right{
          padding-right: 0;
        }
      }
    }
    .photo-section{
      width: 1200px;
      .box-round {
        .round{
          width:122px;
        }
      }
    }
    .content-left {
      .avatar-candidates-detail {
        .avatar{
          width: 295px;
        }
        .full-name {
          font-size: 30px;
          width: auto;
        }
      }
    }
    .content-right {
      .box-img img{
        width:80%;
      }
    }
  }
  @include respond-to($break-1080){
    .box-content-news {
      .news-box {
        margin: 20px 20px 30px 20px;
        padding: 20px;
        .img-news {
          width: 100%;
          height: auto;
          padding-right: 0;
        }
        .content-right {
          width: 100%;
          height: auto;
          line-height: 1.8;

        }
      }
    }
    .photo-section{
      width: 1000px;
      .box-round {
        top: 10px;
        right: 60px;
        .round{
          width:122px;
        }
      }
    }
    .content-left {
      .avatar-candidates-detail {
        .avatar {
          width: 260px;
        }
      }
      .avatar-candidates-detail {
        .full-name {
          font-size: 40px;
        }
      }
    }
    .content-right {
      .box-img img{
        width:80%;
      }
    }
  }

  /*css response ipad*/
  @include respond-to($break-768){
    .title-head {
      .box-title-photos{
        width:100%;
      }
    }
    .box-image-show{
      width: 95%;
      margin: auto;
    }
    .content{
      padding:0 100px;
    }

    .hashtag {
      padding: 100px 100px;
    }
    footer {
      .box-footer{
        .img-logo-organize{
          width: 100px;
        }
      }
      .logo-footer{
        padding-top: 100px;
        img{
          width:250px;
        }
      }
      .box-footer{
        font-size: 20px;
        .contact-footer{
          width: 80%;
        }
      }
    }
    /*css tin tuc reponse 768*/
    .news-section {
      .title-content-news {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 25px;
        margin-right: 290px;
      }
    }
    .title-head {
      .box-title-news {
        height: 70px;
        background: #c6c4c5;
        margin-left: 60px;
        margin-right: 30px;
      }
    }
    .news-section {
      padding: 0 30px 0 60px;
    }
    .box-content-news {
      width: calc(100% - 210px);
      margin-right: 10px;
    }
    aside {
      width: 200px;
    }
    .page-number {
      ul {
        a {
          width: 57px;
        }
      }
    }
    /*css menu ipad 768*/
    nav {
      .logo-nav-nvda {
        height: 33px;
        bottom: 13px;
        left: 20px;
      }
      .menu-top-scroll {
        @include justify-content(center);
      }
    }
    .nav-top.stick-scroll {
      .menu-top-scroll {
        margin-top: 12px;
      }
    }
    .nav-top.stick-scroll {
      height: 60px;
    }
    .intro-video {
      .logo-video-nvda {
        width: 150px;
      }
    }
    /*css chi tiet thí sinh*/
  .photo-section {
  width: 100%;
    .title-content-photos{
      margin-left: 20px;
    }
    .box-round{
      position: static;
      justify-content: center;
      margin: auto;
      margin-bottom: 20px;
      .round{
        display: block;
        width: 121px;
      }
    }
  }
  .content-left{
    width: 100%;
    padding: 20px;
  }
  .content-right{
      width: 100%;
    .box-img{
      img{
        width: auto;
        max-width: 90%;
      }
    }
  }
    /*css hinh anh thi sinh*/
    .album-photo-candi {
      .label-image {
          padding: 10px;
      }
    }
  .box-image-show-candidates {
    .img-show-candidates{
      margin-bottom: 100px;
    }
   .slider-show-candidates {
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 110px;
     .box-show-candidates{
       height: 200px;
       margin-right: 20px;
     }
   }
  }
  .content-images{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
    .image-album {
      width: calc(33.3% - 14px);
      margin-bottom: 50px;
      margin-right: 20px
    }
  }
  .box-show-candidates {
    .label-image{
      bottom: 6px;
    }
  }


  }
@include respond-to($break-640){
  /*intro css*/
  .logo-nvda, .slider-nvda{
    .regular{
      width: 400px;
      height:200px;
      img{
        width: 400px;
        height: 200px;
      }
    }
  }
  nav {
    .menu-detail {
      width: 100px;
    }
  }
  .menu-detail {
    a{
      width: 100px;
    }
  }
  .logo-nvda {
    img {
      width: 250px;
    }
  }
  .title-bg {
    .box-title {
      .thi-sinh{
        width: 175px;
        background-size: 100%;
      }
      .du-thi {
        width: 150px;
        background-size: 100%;
      }
      .img-top{
        height: 43px;
      }
    }
  }
  /*end css intro*/
}
  /*css 480*/
  @include respond-to($break-480){
    /*intro css*/
    .logo-nvda, .slider-nvda{
      .regular{
        width: 400px;
        height:200px;
        img{
          width: 400px;
          height: 200px;
        }
      }
    }
    nav {
      .menu-detail {
        width: 100px;
      }
    }
    .menu-detail {
      a{
        width: 100px;
      }
    }
    .logo-nvda {
      img {
        width: 250px;
      }
    }
    /*end css intro*/
    .box-image-show {
      .slider-show{
        margin-bottom: 50px;
      }
    }
    .title-bg{
      padding-bottom: 20px;
    }
    .news-section {
      padding: 0 10px 0 20px;
    }
    .title-head {
      .box-title-news {
        margin-left: 20px;
        margin-right: 10px;
      }
    }
    .logo-nvda {
      img {
        width: 200px;
      }
    }
    .title-bg {
      .box-title {
        .du-thi {
          width: 150px;
          background-size: 100% 100%;
        }
        .img-top {
          display: block;
          height: 40px;
        }
        .thi-sinh {
          width: 150px;
          background-size: 100% 100%;
        }
      }
    }
    .intro-video {
      .my-video-dimensions{
        height:300px;
      }
    }
    .title-head {
      .label-head{
        bottom: -50px;
      }
      .row-bar {
        background-size: 100%;
      }
    }
    .content {
      padding: 0 20px;
    }
    .hashtag {
      padding: 50px 20px;
      display: block;
      .tag-name {
        font-size: 15px;
      }
    }
    footer {
      .box-footer{
        float: none;
        width: 100%;
        .contact-footer {
          text-align: center;
          width: 100%;
          padding-bottom: 30px;
        }
      }
      .logo-footer {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .donors{
        img{
          padding: 0 5px;
          height: 50px;
        }
      }
    }
    /*nav mobile*/
    .stick-scroll{
      .btn-menu{
        top: 10px;
      }
    }
    .nav-top.stick-scroll{
      height: 50px;
      .menu-top-scroll{
        top:50px;
      }
    }
    .nav-top.stick-scroll {
      .menu-top-scroll {
        margin-top: 0;
      }
    }
    nav{
      position: relative;
      height: 20px;
      padding-bottom: 0;
      .logo-nav-nvda {
        height: 35px;
      }
      .btn-menu{
        display: block;
      }
      .menu-top-scroll {
        @include flex;
        margin: auto;
        position: absolute;
        @include flex-direction(column);
        top: -20px;
        right: 0;
        background: #fff;
        z-index: 999;
        width: 100%;
        display: none;
        opacity: 0.9;
        .btn-close{
          display: block;
          position: relative;
          height: 12px;
          .close-x{
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
      }
      .menu-detail {
        width: 100%;
        a {
          width:100%;
          margin-left: 0;
          height: 40px;
        }
      }
    }
    .btn-menu{
      width: 30px;
      height: 30px;
      position: absolute;
      top: -10px;
      right: 10px;
      opacity: 0.6;
      cursor: pointer;
    }
    /*css form sigup*/
    .form-row {
      .many-text{
        display: block;
      }
      .many-text {
        .uniform{
          width: 100%;
          margin: 0;
        }
      }
    }
    /*css reponse tin tuc*/
    .news-section {
      .title-content-news {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 25px;
        margin-right: 0;
      }
    }
    .box-content-news {
      width: 100%;
      margin-right: 10px;
      .news-box {
        margin: 10px 10px 15px 10px;
        padding: 20px;
        .title-news-content {
          font-size: 25px;
          margin-bottom: 10px;
          border-bottom: 2px solid #e4cb57;
        }
        .content-right {
          height: 52px;
        }
        .view-detail {
          clear: both;
          padding-top: 10px;
        }
      }
    }
    aside {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      display: none;
    }
    .page-number {
      margin-bottom: 30px;
      ul {
        a {
          width: 38px;
          height: 35px;
          display: block;
          text-align: center;
          line-height: 35px;
          color: #000000;
        }
      }
    }
/*css chi tiet hinh anh*/
    .photo-section {
      .title-content-photos {
        margin-right: 0;
      }
      .box-round{
        margin-bottom: 50px;
        width:100%;
        @include flex-direction(column);
        li{
          width:80%;
        }
        .round{
          width:100%;
          height:60px;
          line-height: 60px;
          margin-bottom: 10px;
        }
      }
    }
    .content-left {
      .avatar-candidates-detail {
        .avatar {
          width: 350px;
        }
        .full-name{
          width: 100%;
          position: static;
          display: block;
          height: auto;
        }
      }
    }
    /*css hinh anh thi sinh*/
    .album-photo-candi {
      .label-image {
        padding: 5px;
      }
    }
    .box-image-show-candidates {
      .img-show-candidates{
        height:auto;
        width: 95%;
        margin-bottom: 70px;

      }
      .slider-show-candidates {
        width: 95%;
        margin: auto;
        @include flex-direction(column);
        margin-bottom: 50px;
        .box-show-candidates{
          height: 100%;
          margin-right: 10px;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .content-images{
      width: 95%;
      margin: auto;
      .image-album {
        width: calc(50% - 5px);
        margin-bottom: 30px;
        margin-right: 5px;
        font-size: 10px;
        &:nth-child(3n){
          margin-right: 5px;
        }
        &:nth-child(2n){
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }
    .image-album {
      .label-image{
        bottom: 3px;
      }
    }
    .box-show-candidates {
      .label-image{
        bottom: 4px;
      }
    }
    .intro-main{
      nav {
        .menu-top-scroll {
          top: -190px;
        }
      }
    }
    .content-right {
      .video-content-right{
        height: 230px;
      }
    }
  }
  /*css 320*/
  @include respond-to($break-320){
    /*intro css*/
    .logo-nvda, .slider-nvda{
      .regular{
        width: 300px;
        height:150px;
        img{
          width: 300px;
          height: 150px;
        }
      }
    }
    /*end css intro*/
    .intro-video {
      .my-video-dimensions{
        height:300px;
      }
    }
    .title-head {
      .label-head{
        bottom: -50px;
      }
      .row-bar {
        background-size: 100%;
      }
    }
    .content {
      padding: 0 20px;
    }
    .hashtag {
      padding: 50px 20px;
      display: block;
      .tag-name {
        font-size: 15px;
      }
    }
    footer {
      .box-footer{
        float: none;
        width: 100%;
        .contact-footer {
          text-align: center;
          width: 100%;
          padding-bottom: 30px;
        }
      }
      .logo-footer {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .donors{
        img{
          padding: 0 5px;
          height: 50px;
        }
      }
    }
    /*nav mobile 320*/
    .stick-scroll{
      .btn-menu{
        top: 10px;
      }
    }
    .nav-top.stick-scroll{
      .menu-top-scroll{
        top:0;
      }
    }
    nav{
      position: relative;
      height: 20px;
      padding-bottom: 0;
      .btn-menu{
        display: block;
      }
      .menu-top-scroll {
        @include flex;
        margin: auto;
        position: absolute;
        @include flex-direction(column);
        right: 0;
        background: #fff;
        z-index: 999;
        width: 100%;
        display: none;
        .btn-close{
          display: block;
          position: relative;
          height: 12px;
          .close-x{
            position: absolute;
            top: 1px;
            right: 10px;
          }
        }
      }
      .menu-detail {
        width: 100%;
        a {
          width:100%;
          margin-left: 0;
          height: 40px;
        }
      }
    }
    .btn-menu{
      width: 30px;
      height: 30px;
      position: absolute;
      top: -10px;
      right: 10px;
      opacity: 0.6;
      cursor: pointer;
    }
    .content-left {
      .avatar-candidates-detail {
        .avatar {
          width: 275px;
        }
        .full-name{
          font-size: 30px;
        }
      }
      .introduce{
        width:100%;
        padding-right: 0;
      }
    }
    .page-number {
      ul {
        a {
          width: 24px;
        }
      }
    }
  }

.max-width-1200{
  max-width: 1200px;
  margin: auto;
}
/*css hinh anh*/
.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 70px;
}
.jssort01 .t {
  position: absolute;
  top: 0;    left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 118px;
  height: 70px;
  /*border: #000 2px solid;*/
  box-sizing: content-box;
  /*background: url('img/t01.png') -800px -800px no-repeat;*/
  _background: none;
}
.jssort01 .pav .c {
  top: 2px;
  _top: 0px;
  left: 2px;
  _left: 0px;
  width: 68px;
  height: 68px;
  border: #000 0px solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;}
.jssort01 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 118px;
  height: 68px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}
.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 118px;
  height: 68px;
  border: #000 2px solid;
}
* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {    /* ie quirks mode adjust */
  width /**/: 72px;
  height /**/: 72px;
}







